<html>
<head>
    <title>Online Ordering</title>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

<body id="LoginBody">


    <div class="container" id="login">
      <h2><b>Admin Login</b></h2>
      <hr>
        <div class="form-group">
            <form method="post" action="/AdminLogin">
              {{#if messages}}
                <p style="color:red;font-size:12px">{{messages}}</p>
              {{/if}}

                <Label>Id</Label><br>
                <input type="text" class="form-control" name="Id" placeholder="Enter Id" required><br>
                <Label>Password</Label><br>
                <input type="password" class="form-control" name="Password" placeholder="Enter Password" required><br><br>
                <button class="btn btn-success">Login</button><br>
                <!-- <p><b>New Here?<a href="/registerAdmin">Register now</a></b></p> -->
        </div>
        </form>

    </div>

    <script src="js/login.js"></script>

</body>


</html>
