<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cafeteria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="">
        <h3>Welcome to Cafeteria Online Ordering</h3>
        <p>Choose the below option</p>
      </div>
      <div class="row">
          <div class="col-sm-4"><a href="/studentLogin">Student Login</a></div>
          <div class="col-sm-4"><a href="/adminLogin">Admin Login</a></div>
          <div class="col-sm-4"><a href="/employeeLogin">Employee Login</a></div>
      </div>
    </div>
  </body>
</html>
