<html>
<head>
    <title>Online Ordering</title>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

<body>

  <div>
    {{#if data}}
      <div class="alert alert-danger">{{data}}</div>
    {{/if}}
  </div>

    <div class="container" id="login">
      <h2><b>Cafeteria Login</b></h2>
      <hr>
        <div class="form-group">
            <form method="post" action="/placeOrder">
                <Label>Roll No.</Label><br>
                <input type="text" class="form-control" name="lUsername" placeholder="Enter Email" required><br>
                <Label>Password</Label><br>
                <input type="password" class="form-control" name="lPassword" placeholder="Enter Password" required><br><br>
                <button class="btn btn-success">Login</button><br>
                <p><b>New Here?<a href="/register">Register now</a></b></p>
        </div>
        </form>

    </div>

    <script src="js/login.js"></script>

</body>


</html>
