#LoginBody{
  width:100%;
  background-color: LightGray;
}

#title{
  font-size: 40px;
  font-family: fantasy;
}
#login{
  margin-top: 50px;
}

form {
    padding: 72px;
    margin-right: 35%;
    margin-left: 35%;
    background-color: white;
    border-radius: 30px;
}

h2{
  font-size:50%;
  text-align:center;
}

label{
    padding:3px;
    font-size: 120%;
    text-align: left;
}

button{
  color: black;
}

#errorMessage{
  margin-left: 30%;
  margin-right:30%;
}

input[type=text],input[type=password]{
border-radius:5px;
 height:40px;
 padding:10px;
display:inline-block;


}

/* button{
  width:15%;
  background-color:#4CAF50;
  border-radius:15px;
  cursor:pointer;
  padding:5px;
  border:none;
  margin-left:0%;
} */
