#body{
  background-color: LightGray;
}

#mainPanel{
padding: 20px;
}

#title{
  font-size: 40px;
  font-family: fantasy;
}

#selectData{
  position: fixed;
  height:100%;
}

#DishRow{
  margin-left:35%;
}

@media only screen and (max-width: 600px) {
    #selectData{
      position: relative;
      height:20%;
    }
    #DishRow{
      margin-left: 0px;
    }


}

#category{
  width:60%;
  font-family:'Slabo 27px', serif;
}

#dishData{
  background-color: white;
  padding:20px;
  border: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

#dishSearch{
  width: 60%;
}

#add{
  color:green;
  width:80px;
}

#checkout{
  margin-top: 10px;
}

#nameData{
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}

#priceData{
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
